<div class="container bg-white px-0 py-3 min-h-full flex flex-column">
  <div class="flex space-x-1 items-center border-b-2 border-b-gray-100 px-3 pb-3 justify-center space-x-3">
    <h1 class="m-0 p-0 fw-bold text-center">Políticas de Privacidad y Aviso Legal</h1>
  </div>
  <div class="text-justify p-3 text-lg">
    <h3 class="!text-2xl !font-bold">Contenido del Sitio Web</h3>
    <p>
      Los contenidos y servicios proporcionados por NoteKeeper (el Sitio Web) tienen carácter gratuito. No es
      necesario el registro para el acceso y navegación a través del Sitio Web. El acceso, navegación y uso del Sitio
      Web
      conllevan y suponen la aceptación por el Usuario de las presentes Condiciones Generales. En este sentido, se
      entenderá por Usuario a la persona que acceda, navegue, utilice o participe en los servicios y actividades
      desarrolladas en el Sitio Web.
    </p>


    <h3 class="!text-2xl !font-bold">Derechos de Propiedad Intelectual e Industrial</h3>
    <p>
      El Sitio Web se rige por la legislación española sobre propiedad intelectual e industrial. En ningún caso se
      entenderá que el acceso, navegación y uso del Sitio Web o la utilización y/o contratación de productos o servicios
      ofertados a través del Sitio Web, implica una renuncia, transmisión, licencia o cesión total ni parcial de dichos
      derechos por parte de Notekeeper hacia el Usuario.
    </p>

    <p>
      Las referencias a nombres y marcas comerciales o registradas, logotipos u otros signos distintivos, ya sean
      titularidad de Notekeeper o de terceras empresas, llevan implícitas la prohibición sobre su uso sin el
      consentimiento de Notekeeper o de sus legítimos propietarios. En ningún momento, salvo manifestación expresa, el
      acceso o uso del Sitio Web y/o de sus contenidos y/o servicios, confiere al Usuario derecho alguno sobre las
      marcas,
      logotipos y/o signos distintivos en él incluidos protegidos por Ley.
    </p>

    <p>
      Quedan reservados todos los derechos de Propiedad Intelectual e Industrial sobre los contenidos y/o servicios y,
      en
      particular, queda prohibido modificar, copiar, reproducir, comunicar públicamente, transformar o distribuir de
      cualquier forma la totalidad o parte de los contenidos y/o servicio incluidos en el Sitio Web, para propósitos
      públicos o comerciales, si no se cuenta con la autorización previa, expresa y por escrito de Notekeeper o, en su
      caso, del titular de los derechos correspondientes.
    </p>

    <p>
      El Sitio Web contiene textos elaborados con fines meramente informativos o divulgativos que pueden no reflejar el
      estado actual de las tecnologías y que se refieren a situaciones generales por lo que su contenido no puede ser
      aplicado nunca por el usuario a casos concretos. Las opiniones vertidas en los mismos no reflejan necesariamente
      los
      puntos de vista de Notekeeper. El contenido de los artículos publicados en este Sitio Web no puede ser
      considerado,
      en ningún caso, sustitutivo de asesoramiento especializado y personalizado. El usuario no debe actuar sobre la
      base
      de la información contenida en este Sitio Web sin recurrir previamente al correspondiente asesoramiento de
      Notekeeper.
    </p>


    <h3 class="!text-2xl !font-bold">Utilización del Sitio Web</h3>

    <p>
      El Usuario se compromete a utilizar el Sitio Web de conformidad con la ley y con las presentes Condiciones
      Generales. El Usuario se obliga asimismo a abstenerse de utilizar el Sitio Web con fines o efectos ilícitos o
      contrarios a lo establecido en las Condiciones Generales.
    </p>
    <p>
      Al utilizar los servicios, el Usuario manifiesta su conformidad con estas Condiciones Generales, comprometiéndose
      a no transmitir, difundir o poner a disposición de terceros a través de los servicios proporcionados por
      NoteKeeper o cualquiera de las webs secundarias del Sitio Web cualquier clase de material que de cualquier
      forma contravenga la legislación vigente.
    </p>


    <h3 class="!text-2xl !font-bold">Enlaces a otras páginas Web</h3>

    <p>
      En caso de que en el Sitio Web el Usuario pudiera encontrar enlaces a otras páginas Web que sean gestionados por
      terceros, Notekeeper declara que no dispone de los recursos personales ni técnicos para controlar, comprobar ni
      aprobar el contenido, información y servicios que se proporcionen en él. En consecuencia, Notekeeper no podrá
      asumir ningún tipo de responsabilidad por cualquier aspecto relativo a la página Web a la que se pudiera
      establecer un enlace desde el Sitio Web. La existencia de enlace(s) a sitio(s) web ajeno(s) no supondrá la
      existencia de relaciones de colaboración o dependencia entre Notekeeper y el responsable de la página Web ajena.
    </p>
    <p>
      La existencia de enlaces externos en el Sitio Web no implica que Notekeeper recomiende los contenidos de las
      páginas de destino.
    </p>
    <p>
      Si los Usuarios conocieran de manera efectiva que en la página Web de terceros a la que les lleva el enlace se
      realizan actividades de carácter ilícito, deberán comunicarlo inmediatamente a Notekeeper a los efectos de que se
      proceda a deshabilitar el enlace de acceso a la misma.
    </p>

  </div>


  <div class="flex-1 min-h-full p-2">

  </div>

</div>
