<div class="container bg-white px-0 py-3 h-screen">
  <div class="flex space-x-1 items-center border-b-2 border-b-gray-100 px-3 pb-3 justify-center">
    <img src="https://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/Logotipo/LOGOTIPO%20color%20PNG.png"
         class="img-fluid h-16 mr-4"/>
    <div class="flex flex-col items-center">
      <h2 class="m-0 p-0 fw-bold text-center">Universidad Politécnica de Madrid</h2>
      <p class="text-sm text-gray-400 text-center m-0">Universidades</p>
    </div>
  </div>

  <ul role="list" class="divide-y divide-gray-100 p-2">
    <a routerLink="/university">
      <li class="flex justify-between gap-x-6 py-3 hover:bg-gray-100 transition-all ease-in-out px-4 border-b-2 border-b-gray-200">
        <div class="flex gap-x-4">
          <img class="h-16 w-16 flex-none rounded-full bg-gray-50"
               src="https://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/Logotipo/LOGOTIPO%20color%20PNG.png"
               alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Máster de Ingeniería Web</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">UPM - Escuela Técnica Superior de Ingeniería de
              Sistemas Informáticos</p>
          </div>
        </div>
      </li>
    </a>
    <a routerLink="/university" class="">
      <li class="flex justify-between gap-x-6 py-3 hover:bg-gray-100 transition-all ease-in-out  px-4 border-b-2 border-b-gray-200">
        <div class="flex gap-x-4">
          <img class="h-16 w-16 flex-none rounded-full bg-gray-50"
               src="https://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/Logotipo/LOGOTIPO%20color%20PNG.png"
               alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Máster de Ingeniería Web</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">UPM - Escuela Técnica Superior de Ingeniería de
              Sistemas Informáticos</p>
          </div>
        </div>
      </li>
    </a>
    <a routerLink="/university" class="">
      <li class="flex justify-between gap-x-6 py-3 hover:bg-gray-100 transition-all ease-in-out px-4 border-b-2 border-b-gray-200">
        <div class="flex gap-x-4">
          <img class="h-16 w-16 flex-none rounded-full bg-gray-50"
               src="https://www.upm.es/sfs/Rectorado/Gabinete%20del%20Rector/Logos/UPM/Logotipo/LOGOTIPO%20color%20PNG.png"
               alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">Máster de Ingeniería Web</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">UPM - Escuela Técnica Superior de Ingeniería de
              Sistemas Informáticos</p>
          </div>
        </div>
      </li>
    </a>
  </ul>
</div>

