<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom px-2 navbar-light bg-secondary"
>
  <a
    routerLink="/"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
  >
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a
        routerLink="/"
        class="nav-link px-2 link-light"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
      >Inicio</a
      >
    </li>
    <li>
      <a
        routerLink="/main"
        class="nav-link px-2 link-light"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
      >Main</a
      >
    </li>
  </ul>

  <div class="col-md-3 text-end">
    <a mat-raised-button color="primary" class="me-2" routerLink="/login" *ngIf="!isLogged()">
      Login
    </a>

    <a mat-raised-button class="me-2" routerLink="/register" *ngIf="!isLogged()"
    >Registro</a
    >
    <a
      mat-raised-button color="warn"
      class="me-2"
      *ngIf="isLogged()"
      (click)="logout()"
    >
      Logout
    </a>
  </div>
</header>
