<h1 class="text-center">Login</h1>

<div class="flex justify-content-center">
  <mat-card>
    <mat-card-content>
      <form class="w-96 mb-2" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@email.com" [formControl]="email" [(ngModel)]="loginEmail">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" [(ngModel)]="loginPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="flex justify-center">
          <button mat-raised-button color="primary">Login</button>
        </div>
      </form>
      <div class="flex justify-center">
        <button mat-raised-button color="secondary" (click)="onClick()">
          <fa-icon [icon]="faGoogle" class="mr-1"></fa-icon>
          Login with Google
        </button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
