<footer class="mx-auto px-10 sm:px-6 lg:px-8 flex lg:justify-between pt-4 pb-3 justify-center items-center flex-col lg:flex-row">
  <div>
    <p class="text-gray-500 text-sm text-center lg:text-left">&copy; 2023 NoteKeeper, Inc. Todos los derechos reservados</p>
  </div>
  <div class="flex space-x-5">
    <a href="#" class="hover:text-teal-900 transition-all ease-in-out hover:scale-110">
      <fa-icon [icon]="faTwitter" class="text-lg"></fa-icon>
    </a>
    <a href="#" class="hover:text-teal-900 transition-all ease-in-out hover:scale-110">
      <fa-icon [icon]="faInstagram" class="text-lg"></fa-icon>
    </a>
    <a href="#" class="hover:text-teal-900 transition-all ease-in-out hover:scale-110">
      <fa-icon [icon]="faYoutube" class="text-lg"></fa-icon>
    </a>
  </div>
</footer>
