<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-16 w-auto" src="./assets/favicon.png" alt="Notekeeper">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reestablece tu
      contraseña</h2>
  </div>

  <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email@email.com" [formControl]="email" required [(ngModel)]="resetEmail">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>

        <button mat-raised-button color="primary" [disabled]=verifyDisabled()
                class="flex w-full justify-center rounded-md !bg-teal-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Enviar
        </button>
      </div>
    </form>

    <div class="mt-4">
      <p class="mt-12 text-center text-sm text-gray-500">
        Ya tienes cuenta?
        <a routerLink="/login" class="font-semibold leading-6 text-blue-500 hover:text-indigo-500">Logueate</a>
      </p>
    </div>
  </div>
</div>

